$padding: 14px;

.history-view {
  background: #242424;
}

.line-container {
  min-height: 300px;
  max-height: 300px;
  overflow-y: auto;

  &.collapsed {
    min-height: 0;
    max-height: 0;
  }
}

.header {
  display: flex;
  flex-direction: row;
  background: #333333;
  padding: 6px $padding;
  border-top: 1px solid #525252;
  border-bottom: 1px solid #525252;
  cursor: pointer;

  &:hover {
    background: #202020;
  }

  .icon {
    flex-grow: 1;
    text-align: end;
  }
}

.history-line {
  padding: 2px $padding;
  cursor: pointer;

  &:hover {
    background: #474747;
  }

  .caret {
    color: #ff7de3;
  }
}


