$color-highlight: #ff7de3;
$color-error: #ff2649;
$color-primary-text: #fafafa;

.terminal {
  display: flex;
  flex-direction: column;
  background: #2a2a2e;
  flex-grow: 1;
  color: $color-primary-text;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.terminal-text {
  flex-grow: 1;
  padding: 12px;
  overflow-y: scroll;
}

.terminal-tools {

}

.terminal-input {
  display: flex;
}

.terminal-input-field {
  height: 100vh;
  min-height: 100vh;
  flex-grow: 1;
  max-width: 97%;
  background: none;
  padding: 0;
  border: 0;
  outline: 0;
  color: $color-primary-text;
  resize: vertical;

  &.read-only {
    height: 100%;
    min-height: 0;
    resize: none;
  }
}

.terminal-input-caret {
  color: $color-highlight;
  padding-right: 6px;
}

.terminal-output {
  .error {
    color: $color-error;
  }
}
