.terminal {
  padding: 8px;
  background: #222222;
  flex-grow: 1;
  color: #ff7de3;
}

.terminal-input {
  background: none;
  border: 0;
  outline: 0;
  color: #eeeeee;
}

.terminal-output {
  color: #ffffff;

  .error {
    color: #ff2444;
  }
}
